.btn-submit {
  border: none;
  margin: 0 auto;
  display: block;
  padding: 15px 25px;
  font-size: 16px;
  color: white;
  background: rgb(17, 67, 160);
  border-radius: 3px;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
    background: rgb(24, 100, 241);
  }
  &:disabled {
    background: rgb(101, 121, 155);
    cursor: default;
  }
}

.config-btn {
  background: rgb(248, 155, 14);
  border: transparent;
  border-radius: 3px;
  padding: 8px 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 5px auto;
}

.btn-blue {
  background: rgb(17, 67, 160);
  &:hover {
    cursor: pointer;
    background: rgb(24, 100, 241);
  }
  &:disabled {
    background: rgb(101, 121, 155);
    cursor: default;
  }
}

.btn-red {
  background: rgb(187, 33, 33);
  &:hover {
    cursor: pointer;
    background: rgb(201, 4, 4);
  }
  &:disabled {
    background: rgb(163, 76, 76);
    cursor: default;
  }
}