.order-page {
  max-width: 650px;
  margin: 0 auto;
}


.order-card {
  border: 2px solid rgb(40, 108, 185);
  max-width: 600px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &-header {
    margin-bottom: 5px;
    text-align: left;
    span {
      font-weight: 700;
    }

  }
}


.order-card-cost {
  font-weight: 700;
  font-size: 22px;
}