.categories {
  text-align: left;
  li {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.466);
    padding: 5px 5px;
    margin-top: -1px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.116);
    }
  }
}

button.custom-config {
  cursor: pointer;
  margin: 10px auto;
}
