.add-item-form {
  max-width: 600px;
  margin: 0 auto;
  .custom-fields {
    margin-top: 5px;
    padding: 10px 0;
    fieldset {
      padding: 0;
      padding-bottom: 5px;
    }
  }
  .default-field {
    display: flex;
    margin-top: 10px;
    padding-top: 5px;
    &-text {
      flex-grow: 1;
      font-size: 20px;
    }
    .form-wrapper {
      margin: 0;
      width: 100%;
    }
  }
  span {
    font-size: 20px;
    margin: 0 10px;
  }
  .item-image {
    &-wrapper {
      width: 240px;
      height: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    width: 200px;
    margin: 5px;
    padding: 0;
    cursor: pointer;
    label {
      background: rgba(0, 0, 0, 0.295);
      display: block;
      height: 200px;
      cursor: pointer;
      &:hover img {
        opacity: .5;
        z-index: -1;
      }
    }
    input {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}

.form-wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  text-align: left;  
  font-size: 20px;
  padding: 7px 12px;
  label {
    margin-right: 15px;
  }
  input, select {
    flex-grow: 1;
  }
}
