$success-bg: rgba(93, 158, 102, 0.247);
$success-font: rgb(6, 121, 25);

.auth-form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  &__radio {
    margin: 10px auto;
    text-align: center;
  }
  fieldset {
    border: none;
    width: 90%;
    margin: 0 auto;
  }
  input {
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid rgb(160, 159, 159);
    padding: 5px 10px;
    display: block;
    width: 100%;
  }
  input[type='radio'] {
    display: none;
  }
  
  input:checked + label {
    color: rgb(43, 184, 141);
  }
  input:not(:checked) + label {
    cursor: pointer;
  }
  button[type="submit"] {
    border: none;
    margin: 0 auto;
    display: block;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    background: rgb(17, 67, 160);
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background: rgb(24, 100, 241);
    }
    &:disabled {
      background: rgb(101, 121, 155);
      cursor: default;
    }

  }

  .success-message {
    margin: 15px auto;
    width: 85%;
    padding: 15px;
    border-radius: 3px;
    background: $success-bg;
    color: $success-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: 1px solid $success-font;
      background: transparent;
      color: $success-font;
      border-radius: 2px;
      cursor: pointer;
      padding: 5px 10px;
    }
  }
}