.navbar {
  background: rgb(51, 103, 214);
  width: 100%;
  color: #fff;
  padding: 0 40px;
  ul {
    display: flex;
    justify-content: flex-end;
    a, button {
      padding: 13px 20px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      border: none;
      cursor: pointer;
      background: transparent;
      font-size: inherit;
      &:hover {
        background: rgb(83, 120, 202);
      }
    }
    li {
      list-style: none;
      .active {
        background: rgb(99, 134, 211);
      }
    }
  }
}